<div class="upload-zone">
  <div class="dropzone" appDropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
    <h3>Drop Zone</h3>
    <p>Drag and Drop a Music File</p>
    <div class="file">
      <label class="file-label">
        <input type="file" class="file-input" (change)="onDrop($event.target.files)">
      </label>
    </div>
  </div>
</div>
<h3>Uploads</h3>
<div *ngFor="let file of files">
  <app-upload-task [file]="file"></app-upload-task>
</div>
