.search {
  width: 100%;
  min-height: 100%;
}

.tracks {
  border: none !important;
  padding: 0;
  display: flex;
  justify-content: center;
}

app-track {
  width: 100%;
}

.list-items {
  width: 40%;
}
