<nb-card size="tiny" class="vietnam">
  <nb-card-body>
    <h5>New Releases</h5>
    <p>{{headerFiles.length}} Postions</p>

    <div class="card-row" *ngIf="headerFiles">
      <div class="card-col" *ngFor="let music of headerFiles">
        <img [src]="music.imageFile" class="header-image box-shadow" (click)="openFile(music, cloudService.index)">
      </div>
    </div>

    <h5>New Played</h5>
    <p *ngIf="files">{{files.length}} Page</p>

    <nb-list listenWindowScroll="true" class="list-items" *ngFor="let file of files">
      <nb-list-item class="tracks" *ngFor="let music of file.album">
        <app-track [file]="music"></app-track>
      </nb-list-item>
    </nb-list>

  </nb-card-body>
</nb-card>
