<nb-card size="tiny" class="home">
  <nb-card-body>

    <h3>{{files.length}} New Song</h3>

    <nb-card listenWindowScroll="true">
      <nb-card-body>
        <div class="card-row">
          <div class="card-col" *ngFor="let file of files">
            <nb-card size="tiny">
              <nb-card-body class="new-item">

              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-list listenWindowScroll="true" class="list-items">
      <nb-list-item class="tracks" *ngFor="let file of files">
          <app-track [file]="file"></app-track>
      </nb-list-item>
    </nb-list>

  </nb-card-body>
</nb-card>
