.home {
  width: 100%;
  min-height: 100%;
}

.tracks {
  border: none !important;
  padding: 0;
  display: flex;
  justify-content: center;
}

app-track {
  width: 100%;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(10% - 1rem);
  margin: 1rem;
}

.new-item {
  padding: 0 !important;
}

.list-items {
  width: 40%;
}
