nb-icon {
  cursor: pointer;
  outline: none;
  border-style: hidden;
}

nb-card-body {
  padding: inherit;
  text-align: justify;
}

.mid {
  margin: 10px;
}

nb-user {
  cursor: pointer;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
