<div class="player">
  <nb-card-body>

    <div>
      ImgMusic Here
    </div>

    <div>
      <button nbButton [disabled]="isFirstPlaying()" (click)="previous()" status="basic">
        <nb-icon icon="skip-back-outline"></nb-icon>
      </button>
      <button nbButton (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing" class="mid" status="basic">
        <nb-icon icon="play-circle-outline"></nb-icon>
      </button>
      <button nbButton (click)="pause()" *ngIf="state?.playing" class="mid" status="basic">
        <nb-icon icon="pause-circle-outline"></nb-icon>
      </button>
      <button nbButton [disabled]="isLastPlaying()" (click)="next()" status="basic">
        <nb-icon icon="skip-forward-outline"></nb-icon>
      </button>
    </div>

    <div>
      {{state?.readableCurrentTime}}
      <nb-progress-bar [value]="state?.currentTime" [size]="'tiny'"></nb-progress-bar>
      {{state?.readableDuration}}
    </div>

  </nb-card-body>
</div>
