<div *ngIf="authService.user$ | async; then authenticated else guest">
</div>
<ng-template #guest>
  <nb-card status="basic">
    <nb-card-header>
      <nb-icon icon="google-outline"></nb-icon>
      Login with Google
    </nb-card-header>
    <nb-card-body>
      <button nbButton fullWidth status="primary" (click)="loginWithGoogle()">Login</button>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #authenticated>
  <nb-card status="basic">
    <nb-card-header>
      <nb-icon icon="google-outline"></nb-icon>
      Your are logged with Google
    </nb-card-header>
    <nb-card-body *ngIf="authService.user$ | async as user">
      <nb-user
        size="giant"
        shape="rectangle"
        name={{user.displayName}}
        title={{user.email}}
        picture={{user.photoURL}}>
      </nb-user>
      <button
        nbButton
        fullWidth
        status="primary"
        (click)="signOut()"
        style="margin-top: 10vh">
      Log out</button>
    </nb-card-body>
  </nb-card>
</ng-template>
