<div *ngIf="authService.user$ | async; then authenticated else guest">
</div>
<ng-template #guest>
  <nb-card>
    <nb-card-body>

      <nb-tabset>
        <nb-tab tabTitle="Sign In">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <input formControlName="email" type="email" nbInput status="primary" placeholder="Email"
              style="margin-top: 2vh; width: 100%;">
            <nb-alert style="width: 100%; margin-top: 1vh;" status="danger" *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].dirty">
              Email sai hoặc không có.</nb-alert>
            <input formControlName="password" type="password" nbInput status="primary" placeholder="Password"
              style="margin-top: 2vh; width: 100%;">
            <nb-alert style="width: 100%; margin-top: 1vh;" status="danger" *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].dirty">
              Password không hợp lệ.</nb-alert>
          </form>

          <button nbButton fullWidth status="primary" (click)="loginWithEmailAndPassword(userForm.value)"
            style="margin-top: 2vh;">Login</button>

          <button nbButton fullWidth status="success" (click)="loginWithGoogle()" style="margin-top: 2vh;">
            <nb-icon icon="google-outline"></nb-icon>
            Login with Google
          </button>
        </nb-tab>
        <nb-tab tabTitle="Sign Up">

          <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <input formControlName="email" type="email" nbInput status="primary" placeholder="Email"
              style="margin-top: 2vh; width: 100%;">
            <nb-alert style="width: 100%; margin-top: 1vh;" status="danger" *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].dirty">
              Tên đăng nhập phải là email</nb-alert>
            <input formControlName="password" type="password" nbInput status="primary" placeholder="Password"
              style="margin-top: 2vh; width: 100%;">
            <nb-alert style="width: 100%; margin-top: 1vh;" status="danger" *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].dirty">
              Password không hợp lệ.</nb-alert>
          </form>

          <button nbButton fullWidth status="primary" (click)="createWithEmailAndPassword(userForm.value)"
            style="margin-top: 2vh;">Sign Up</button>
        </nb-tab>
      </nb-tabset>

    </nb-card-body>

  </nb-card>
</ng-template>

<ng-template #authenticated>
  <nb-card status="basic">
    <nb-card-header>
      <nb-icon icon="google-outline"></nb-icon>
      Your are logged with Google
    </nb-card-header>
    <nb-card-body *ngIf="authService.user$ | async as user">
      <nb-user size="giant" shape="rectangle" name={{user.displayName}} title={{user.email}} picture={{user.photoURL}}>
      </nb-user>
      <button nbButton fullWidth status="primary" (click)="signOut()" style="margin-top: 10vh">
        Log out</button>
    </nb-card-body>
  </nb-card>
</ng-template>
