nb-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nb-user {
    cursor: pointer;
  }

  nb-icon {
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      color: #3366ff;
    }
  }

  .add-to-liked-song:hover {
    color: red;
  }

  .remove-of-liked-song {
    color: red;

    &:hover {
      color: red;
    }
  }
}

nb-card-body:hover {
  box-shadow: 0 .5rem 1rem 0 rgba(44, 51, 73, 0.5);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:disabled {
    color: red;
  }
}
